{
    "presets": [
      "env"
    ],
    "plugins": [
      [
        "@simbathesailor/babel-plugin-use-what-changed",
        {
          "active": true
        }
      ],
      "transform-runtime",
      [
        "transform-react-jsx",
        {
          "pragma": "React.createElement"
        }
      ],
      "proposal-optional-chaining"
    ],
    "parserOpts": {
      "plugins": [
        "dynamicImport"
      ]
    }
  }